.box{
    border:1px solid black;
    width:150px;
    margin:5px;
    padding:5px;
    text-align: center;
    background-color: rgb(175, 197, 237);
}
.profileContainer,.messageContainer{
    display: flex;
}